*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
i{
    cursor: pointer;
}
/** navbar styles are here **/
.nav-bar{
    background-color: black;
    color: white;
    padding: 25px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
.cart{
    position: relative;
    background-color: white;
    color: black;
    font-size: 28px;
    padding: 8px;
    border-radius: 5px;
}
.cart-amount{
    color: white;
    font-size: 12px;
    background-color: red;
    position: absolute;
    top: -18px;
    right: -10px;
    padding: 5px;
    border-radius: 6px;
}
.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.shop{
    display: grid;
    grid-template-columns: repeat(4, 253px);
    gap: 30px;
    justify-content: center;
}
@media (max-width: 1000px) {
    .shop{
        grid-template-columns: repeat(2, 253px);
    }
}
@media (max-width: 500px) {
    .shop{
        grid-template-columns: repeat(1, 253px);
    }
}
.img{
    border-radius: 5px;
}
.item{
    border: 2px solid black;
    border-radius: 6px;
}
.price-quant{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 8px;
    font-size: 22px;
}
.bi-plus{
    color:green;
}
.bi-dash{
    color:red;
}